[Desktop Entry]
Name=VSCodium
Comment=Code Editing. Redefined.
GenericName=Text Editor
GenericName[ar]=محرر نصوص
#Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --env=CHROME_WRAPPER_NAME=myvscodium --env=ELECTRON_ADDITIONAL_ARGUMENTS="--name=myvwscodium" --env=ELECTRON_DEFAULT_APP_ID=myvscodium --command=/app/share/codium/ --file-forwarding com.vscodium.codium --class myvscodium @@ %F @@
#Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --env=CHROME_WRAPPER_NAME=myvscodium --env=ELECTRON_ADDITIONAL_ARGUMENTS="--name=myvwscodium" --env=ELECTRON_DEFAULT_APP_ID=myvscodium --command=/app/share/codium/com.vscodium.codium --file-forwarding com.vscodium.codium --class myvscodium @@ %F @@
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --env=ZYPAK_APP_ID=myvscodium --env=CHROME_WRAPPER_NAME=myvscodium --env=ELECTRON_ADDITIONAL_ARGUMENTS="--name=myvwscodium" --env=ELECTRON_DEFAULT_APP_ID=myvscodium --command=com.vscodium.codium --file-forwarding com.vscodium.codium --class myvscodium @@ %F @@
Icon=com.vscodium.codium
Type=Application
StartupNotify=false
StartupWMClass=VSCodium
Categories=TextEditor;Development;IDE;Utility;
MimeType=text/plain;inode/directory;application/x-codium-workspace;
Actions=new-empty-window;
Keywords=vscodium;codium;vscode;
X-Desktop-File-Install-Version=0.28
X-Flatpak=com.vscodium.codium

[Desktop Action new-empty-window]
Name=New Empty Window
Name[ar]=نافذة فارغة جديدة
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.vscodium.codium --file-forwarding com.vscodium.codium --new-window @@ %F @@
Icon=com.vscodium.codium
